h1 {
  color: rgba(19, 9, 63, 0.616);
  font-size: 5em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;

}

li {
  color: rgba(19, 9, 63, 0.616);
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  font-family: Georgia;
}


.image {
  background-image: url("../img/meandinfinity.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  width: 500px;
  border: 3px solid coral;
  display: block;
  margin: 0 auto;

}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: rgba(19, 9, 63, 0.616);
  text-align: center;
}

p {
  color: rgba(19, 9, 63, 0.616);
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  font-family: Georgia;
}